html {
	font-family:"Source Sans Pro", Arial, sans-serif;
	font-size: 120%;
	line-height: 1.5;
}

h1 {
	margin-bottom: 0;
}

a {
	color: #4588C5;
}

ul {
	display: -webkit-flex;
	display: flex;
	justify-content: center;
	-webkit-justify-content: center;
	padding: 0;
	text-align: center;
}

li {
	display: inline-block;
	list-style: none;
}

li:not(:first-child):before {
	content: "|";
	margin: 0 1.5em;
}

hr {
	border: none;
	border-top: 1px solid;
}

.container {
	max-width: 600px;
	margin: 0 auto;
	padding: 0 15px;
}

.lead {
	margin-top: 0;
	margin-bottom: 2em;
	font-weight: 600;
}

.center {
	text-align: center;
}
